<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="assets/icon/home-outline.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="carrito">
      <ion-icon src="assets/icon/cart-outline.svg"></ion-icon>
      <ion-label>Carrito</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="pago">
      <ion-icon src="assets/icon/card-outline.svg"></ion-icon>
      <ion-label>Pago</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="rastreo">
      <ion-icon src="assets/icon/location-outline.svg"></ion-icon>
      <ion-label>Rastreo</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="login">
      <ion-icon src="assets/icon/person-outline.svg"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
