<ion-header id="headerRastreo"> <ion-toolbar>
    <div class="header-content">
      <ion-img src="assets/icon/no-words-gb.png" id="logoLogin"></ion-img>
      
      <span id="tituloRastreo"> <strong> GlobalBox-📦🚚 Rastreo de Pedido </strong></span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card id="contenidoRastreo">
    <ion-card-header id="header-card">
      <ion-card-title> <strong>Rastrea tu pedido </strong></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- campo para ingresar código -->
      <ion-item>
        <ion-label position="floating" style="margin-bottom: 10px; position: relative; top: -6px;">Ingrese su Código de seguimiento: </ion-label>
        <ion-input [(ngModel)]="codigo" placeholder="Ej: ABC123" style="margin-top: 10px;"></ion-input>
      </ion-item>

      <!-- Botón para buscar -->
      <ion-button expand="block" (click)="rastrearPedido()">
        Rastrear
      </ion-button>

      <!-- Resultado -->
      <ion-card *ngIf="resultadoVisible">
        <ion-card-content>
          <h2><strong>Estado:</strong> {{estado}}</h2>
          <p><strong>Última ubicación:</strong> {{ubicacion}}</p>
          <p><strong>Fecha estimada de entrega:</strong> {{fecha}}</p>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>

</ion-content>