ion-card {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 12px;
}

ion-list {
  margin-bottom: 20px;
}

ion-button {
  background-color: #00b894;
  color: white;
  margin-top: 10px;
}

ion-button:hover {
  background-color: #00997a;
}
ion-header {
  background-color: #003366;
  color: white;
  text-align: center;
  border-bottom-left-radius: 23px;
	border-bottom-right-radius: 23px;
  overflow: hidden; /* ensure inner content respects rounded corners */
}
ion-toolbar {
  --background: #003366;
  color: white;
  border-bottom-left-radius: 23px;
	border-bottom-right-radius: 23px;
}

#headerPago {
  border-bottom-left-radius: 23px;
	border-bottom-right-radius: 23px;
}
#tituloPago {
    font-size: 20px;
    font-weight: bold;
}
.header-content {
    display: flex;
    align-items: center; 
    width: 100%; 

}
#logoPago {
    width: 135px;
    height: 135px;
}